* {
    padding: 0%;
    margin: 0%;
}

.container {
    max-width: 1280px;
    padding: 10px 4px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: "Lexend", sans-serif;
}

.ravi {
    background-color: #43DF9A;
}

.main {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 0px 10px 0px;

}

.dealbuddy-logo {
    height: 44px;
}

.city {
    padding: 10px 50px;
    border-radius: 10px;
    border: 1px solid white;
    width: 100%;
    outline: none;


}

.city-dropdown {
    max-width: 200px;
    position: relative;
    width: 100%;
}

.search-bar {
    max-width: 300px;
    width: 100%;
}

.search-bar input {
    width: 100%;
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    padding: 11px 30px;
    outline: none;
}

.logo {
    position: absolute;
    top: 50%;
    left: 8px;
    color: rgba(67, 223, 154, 1);
    transform: translateY(-50%);
}

.search {
    position: relative;
}

.icon-search {

    position: absolute;
    left: 330px;
    top: -20px;
    color: #333;
    transform: translateY(-50%);
    width: 100%;
}

.para {
    flex-shrink: 0;
    text-align: right;
    color: white;

}

.search-area {
    display: flex;
    gap: 24px;
    flex-shrink: 1;
    width: 50%;

}

.nav1 {
    background-color: #3bcc8b;
}


.nav {

    width: 1280px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    align-items: center;
    cursor: pointer;


}

.navbar {
    display: flex;

    gap: 80px;
}

#dot {
    padding-inline-start: 0px;
    list-style: none;
}

#dot a {
    color: white;
    text-decoration: none;
    outline: none;
}

#dot li {
    display: flex;
    gap: 40px;
}

.user {
    display: flex;
    gap: 50px;

    position: relative;
}


.user button {
    padding: 17.5px;
    background: #2dc17f;
    border: none;
    color: white;
}



/* footer */

.footer {
    background: #43DF9A0D;
}

.footer-logo {


    font-size: 14px;
    line-height: 20px;
    flex: 0 0 auto;
    display: flex;
    width: 100%;
}

.mainfooter {
    flex: 0 0 auto;
    width: 30%;
}

.mainfooter p {
    padding-top: 30px;
}


.pare {
    width: 250px;
    line-height: 61px;
}

.pare ul {
    list-style: none;
}

.pare a {
    text-decoration: none;
    color: black;
}

.pare i {
    font-size: 15px;
    color: rgba(67, 223, 154, 1);
}


.pare li {

    border-bottom: 1.5px dotted #333;
    list-style: none;

}

.footersid li {
    border-bottom: 1.5px dotted #333;

    line-height: 65px;
    width: 100%;
}

.footer-col {
    justify-content: space-between;
    display: flex;
    margin-bottom: 3%;
    margin-top: 3%;
}

.flx3 {
    display: flex;
    width: 68%;
    align-items: center;
    gap: 50px;
    margin: 14px;
    line-height: 30px;
    justify-content: space-between;
}

.footersid {
    width: 302px;
    line-height: 47px;
    padding-top: 5px;
}

.footersid a {
    text-decoration: none;
    color: black;
}

.img {
    padding-top: 23px;
}

.lorem {
    padding: 10px;
}

.plogo {
    display: flex;
}

#buddy {
    color: rgba(0, 0, 0, 0.5);
}

.meta {
    align-items: center;
    display: flex;
}

#para {
    padding-left: 45%;
    padding-right: 20px;
}

.facebook {
    padding-right: 7px;
}




.store-popular {
    position: relative;
}


.img-u {
    position: absolute;
    top: 50px;
    left: 25px;
}

.store-popular h5 {
    padding: 60px 3px 0px 20px;
}

.store-popular {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.store-flx {
    display: flex;
    gap: 10px;
    padding: 25px 0px;
}

.bbt1 p {
    font-size: 25px;
    padding-top: 20px;
}





.email-container {
    padding-top: 40px;
    padding-bottom: 40px;


}

.email-box {
    background: rgba(227, 250, 237, 1);
    border-radius: 10px;
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;


}

.email-box .email-content p {
    font-size: 28px;
    line-height: 38px;
    font-weight: 500;
    margin-left: 40px;
}

.email-form input {
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 50px;
    height: 50px;
    width: 390px;
    font-size: 16px;
    color: rgb(131, 128, 128);
    font-weight: 400
}

.email-form input::placeholder {
    font-size: 16px;
    color: rgba(168, 168, 168, 1);
    font-weight: 400;

}

.email-box span {
    position: absolute;
    left: 58%;
    top: 30px;
}

.email-icon {
    position: relative;
    left: 40px;
    top: 7px;
    width: 30px;
    height: 25px;
}

.email-form i {
    position: absolute;
    position: absolute;
    top: 67px;
    font-size: 27px;
    left: 58.5%;
    color: rgba(168, 168, 168, 1);
}

.btn-email {
    background-color: rgba(67, 223, 154, 1);
    padding: 10px 14px;
    border-radius: 5px;
    border: none;
    color: white;
    outline: none;
    position: relative;
    bottom: 1px;
    right: 105px;
    cursor: pointer;

}